<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HotelsPortSoap11" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/soap" binding="basicHttpBinding"
                bindingConfiguration="HotelsPortSoap11" contract="HotelSoap.HotelsPort"
                name="HotelsPortSoap11" />
        </client>
    </system.serviceModel>
</configuration>